<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>des</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>i want use app location</string>
	<key>NSFaceIDUsageDescription</key>
	<string>face id des</string>
	<key>NSContactsUsageDescription</key>
	<string>contact des</string>
	<key>NSCameraUsageDescription</key>
	<string>camera des</string>
	<key>NSCalendarsUsageDescription</key>
	<string>camera des</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>bluetooth des</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>bluetooth des</string>
</dict>
</plist>
